<!-- The Modal -->
<div id="dannModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    	<h3>Dann Zinn</h3>
    	<p>Dann has recorded or performed with Joe Henderson, Russell Ferrante (The Yellow Jackets), Chuck Findley (The Tonight Show), Jeff "Tain" Watts, Freddie Hubbard, Maria Schneider, Mary Wells, Martha and the Vandellas, among others. Dann can be heard as a featured soloist on several CD's, such as with Dave Eschelman's Jazz Garden, and with the Ira Stein Group on the classical crossover hit Bach Improvisations. Dann tours throughout the U.S., Cananda, and Mexico, and has played at venues like Yoshi's at Jack London Square, the Monterey Jazz Festival, the SF Jazz Festival, the San Jose Jazz Festival, and the Kuumbwa Jazz Center.</p>

		<p>Dann's first solo album of original music, Ten Songs, has garnered critical acclaim through the U.S. and Europe from publications such as Jazz Times and Jazziz. Current projects include original world fusion band Jack, jazz group The Deadly Zinns, and free improv band Spontanous Burstation.</p>
 	</div>
</div>