<!-- The Modal -->
<div id="martyModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    	<h3>Marty Wehner</h3>
    	<p>A graduate of the Berklee College of Music, Marty has extensive playing experience. A few of the musicians he's worked with include: Dizzy Gillespie, Joe Henderson, Natalie Cole, Tone Toni Tony, Cecil Taylor, Dr. John, Tito Puente, Josh Redman, Benny Carter, the Mingus Epitaph Orchestra, and Wynton Marsalis. Marty plays with the Bay Area band Mingus Amungus, and leads his own band, Funkbone.</p>
 	</div>
</div>