---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="join.html" class="button special">Join</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Welcome to UC Jazz</h2>
								<p>Currently, UC Jazz consists of multiple combos, ranging in size from 3 to 8 musicians. The combos are divided into Intermediate and Advanced categories. Auditions for everyone are held at the beginning of every fall semester. UC Jazz provides rehearsal space, also available for individual use by UCJ students, for music and non-music majors, as well as for undergrad and graduate students.</p>

								<p>The combos cover a wide range of repertoire and styles and much emphasis is placed on how to perform in an ensemble. Ensembles meet weekly, and along with our annual Fall and Spring concerts, UC Jazz students perform in over 40 events per year on and off campus. Student arrangements and compositions are always encouraged.</p>
							</header>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						
						<header class="top">
							<h2>Announcements</h2>
						</header>
						
						<section class="spotlight">
								<div class="image"><img src="images/spring_concert.png" alt="" /></div><div class="content">
								<h2>Advanced Combo Concert</h2>
								<p>Mark your calendars for THE EVENT OF THE SEMESTER! We're hosting our annual Spring Concert at the luxurious Freight & Salvage Coffeehouse in Downtown Berkeley, bringing you a night of live jazz featuring our 3 advanced combos. <a href=https://www.thefreight.org/event/1814184-uc-jazz-ensembles-spring-berkeley>Grab your tickets</a> before they sell out!</p>
							</div>
						</section>

						<section class="spotlight">
								<div class="image"><img src="images/announce1.png" alt="" /></div><div class="content">
								<h2>Ted Moore Quartet</h2>
								<p>If you enjoyed the UC Jazz Faculty Ensemble, you'll definitely dig the Ted Moore Quartet! Join us for an evening of Latin jazz on Wednesday, Oct. 3 at 7:30PM in California Jazz Conservatory's Rendon Hall.</p>
							</div>
						</section>

						<section class="spotlight">
								<div class="image"><img src="images/announce2.png" alt="" /></div><div class="content">
								<h2>Jazz in the Basement</h2>
								<p>It's back by popular demand! Our first Jazz in the Basement show of fall 2018 on Friday, Sept. 28 at 8PM in 240 Eshleman Hall. We've got some funky combos booked and ready to bring you some of the best live jazz on campus. Admission is free as always!</p>
							</div>
						</section>

					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Instructors</h2><br>
								<!-- <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p> -->
							</header>

							<!-- Include modals for each instructor bio -->
							{% include bios/ted_bio.html %}
							{% include bios/frank_bio.html %}
							{% include bios/glenn_bio.html %}
							{% include bios/marty_bio.html %}
							{% include bios/dann_bio.html %}

							<ul class="features">
								<li>
									<img class="headshot" src="images/headshots/instructors/ted.jpg">
									<h3>Ted Moore</h3>
									<p><i>UC Jazz Director - Percussion</i><br>Advanced and Intermediate Combos</p>
									<button id="tedBtn">Learn <i>Moore</i></button>
								</li>
								<li>
									<img class="headshot" src="images/headshots/instructors/frank.jpg">
									<h3>Frank Martin</h3>
									<p><i>Piano</i><br>Advanced Combo</p>
									<button id="frankBtn">Learn More</button>
								</li>
								<li>
									<img class="headshot" src="images/headshots/instructors/glenn.jpg">
									<h3>Glenn Richman</h3>
									<p><i>Bass</i><br>Intermediate Combo</p>
									<button id="glennBtn">Learn More</button>
								</li>
								<li>
									<img class="headshot" src="images/headshots/instructors/marty.jpg">
									<h3>Marty Wehner</h3>
									<p><i>Trombone</i><br>Intermediate Combo</p>
									<button id="martyBtn">Learn More</button>
								</li>
								<li>
									<img class="headshot" src="images/headshots/instructors/dann.jpg">
									<h3>Dann Zinn</h3>
									<p><i>Saxophone</i><br>Advanced Combo</p>
									<button id="dannBtn">Learn More</button>
								</li>
								<li>
								</li>
							</ul>
						</div>
					</section>

					<!-- Two -->
					<section id="two" class="wrapper alt style2">
						
						<header class="top">
							<h2>Faculty Activities</h2>
						</header>

						<section class="spotlight">
								<div class="image"><img src="images/dann_cd2.jpg" alt="" /></div><div class="content">
								<h2>Day of Reckoning<br>April 2019</h2>
								<p>New CD by Dann Zinn out in April 2019 featuring many original Dann Zinn compositions.</p>
							</div>
						</section>

						<section class="spotlight">
								<div class="image"><img src="images/faculty1.png" alt="" /></div><div class="content">
								<h2>O Espirito do Brasil<br>July 2017</h2>
								<p>Ted Moore has published a collection of 17 original Brazilian jazz tunes in his new book, O Espirito do Brasil. The tunes cover various aspects and styles of Brazilian jazz and some of this music has been recorded on his Brazilian band's cd, entitled River Wide.</p>
							</div>
						</section>

						<section class="spotlight">
								<div class="image"><img src="images/dann_cd1.jpg" alt="" /></div><div class="content">
								<h2>Shangri La<br>August 2016</h2>
								<p>Shangri La is Dann Zinn's newest release, featuring the great Peter Erskine on drums, and Australian phenom Chris Robinson on guitar.  The cd received a four star DownBeat review, and was chosen among the 'best of' 2015 by Downbeat.  The Trio toured on the east coast and NYC in 2016, and played at the 2015 Monterey Jazz Festival, where it was named among the top ten 'must see' acts for the festival. Available at <a href="http://www.cdbaby.com/">cdbaby</a></p>
							</div>
						</section></a>

					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Officers</h2>
								<p>The officers hold weekly meetings and work closely with jazz director Ted Moore to organize and promote UC Jazz’s many concerts and events and provide input on the direction of the organization. Although the officers have specific responsibilities according to their role/position, they also initiate and follow through on projects.</p>
							</header>
							<ul class="features">
								<li>
									<img class="headshot" src="images/headshots/officers/brian.jpg">
									<h3>Brian Thorsen</h3>
									<p><i>President - electric & upright bass</i><br>Duties include: leading weekly meetings, upkeep of online
									resources/calendars, delegation of tasks to other officers.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/chetan.jpg">
									<h3>Chetan Giduturi</h3>
									<p><i>Vice President - alto sax</i><br>Duties include: assisting president with task management and
									delegation; promoting UC Jazz shows/events, creation of
									posters/graphics, organizing tabling, upkeep of the
									organization’s Facebook pages.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/jarrod.jpg">
									<h3>Jarrod Schnapper</h3>
									<p><i>Secretary - Drums</i><br>Takes notes during officer meetings and shares them with officers, other administrative duties.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/kelly.jpg">
									<h3>Kelly Wong</h3>
									<p><i>Public Relations Committee - flute & trombone</i><br>Duties include: promoting UC Jazz shows/events, creation of posters/graphics, organizing tabling, upkeep of the organization’s Facebook pages.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/charlie.jpg">
									<h3>Charlie McMurry</h3>
									<p><i>Public Relations Committee - alto sax</i><br>Duties include: promoting UC Jazz shows/events, creation of posters/graphics, organizing tabling, upkeep of the organization’s Facebook pages.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/bernard.jpg">
									<h3>Bernard Kim</h3>
									<p><i>Senior Advisor - Tenor and Soprano Saxophone</i><br>Duties include: coordinating with the ASUC for purposes of securing UC Jazz the status of Registered Student Organization as well as funding and performance space reservations.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/zach.jpg">
									<h3>Zachary Levine</h3>
									<p><i>Gig Chair - Tenor Saxophone</i><br>Duties include: booking paid UC Jazz trio gigs for events and other gigs as needed.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/trey.jpg">
									<h3>Trey Fortmuller</h3>
									<p><i>Webmaster - Drums</i><br>Develops and maintains the UC Jazz website, e-mail lists, and other online resources.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/nathan.jpg">
									<h3>Nathan Le</h3>
									<p><i>Equipment Manager - Guitar</i><br>Duties include: assisting with management and transfer of UC Jazz-owned equipment to and from UC Jazz events; ensuring availability of equipment where needed for official UC Jazz purposes.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/seth.jpg">
									<h3>Seth Paydar</h3>
									<p><i>Equipment Manager - Trombone</i><br>Duties include: assisting with management and transfer of UC Jazz-owned equipment to and from UC Jazz events; ensuring availability of equipment where needed for official UC Jazz purposes.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/zachariah.jpg">
									<h3>Zachariah Rodriquez</h3>
									<p><i>Equipment Manager - Guitar</i><br>Duties include: assisting with management and transfer of UC Jazz-owned equipment to and from UC Jazz events; ensuring availability of equipment where needed for official UC Jazz purposes.</p>
								</li>
								<li>
									<img class="headshot" src="images/headshots/officers/joe.jpg">
									<h3>Joseph Escobar</h3>
									<p><i>Beginning Combo Instructor - Piano</i><br>Duties include: auditioning students for and instructing UC Jazz’s beginning jazz combo.</p>
								</li>
								<!-- </li>
								<li> -->
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Reach Out</h2>
								<p>We'd love to hear from you. Don't hesitate to reach out to Director Ted Moore with any questions.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="join.html" class="button fit">Join</a></li>
								<li><a href="contact.html" class="button fit">Contact</a></li>
							</ul>
						</div>
					</section>
