<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}/join.html">Join</a></li>
            <li><a href="{{ site.baseurl }}/resources.html">Resources</a></li>
            <li><a href="{{ site.baseurl }}/ensembles.html">Ensembles</a></li>
            <li><a href="{{ site.baseurl }}/recordings.html">Recordings</a></li>
            <li><a href="{{ site.baseurl }}/alumni_spotlight.html">Alumni Spotlight</a></li>
            <li><a href="{{ site.baseurl }}/datebook.html">Datebook</a></li>
            <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
